<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ledis</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="styles.css">
  <script src="jquery-3.6.0.min.js"></script>
</head>
<body>
  <div class="ledis-cmd">
    <div id="login-time"></div>
    <br />
    <div class="log-result" id="log-result"></div>
    <div class="terminal">
      <label for="cmd-input">127.0.0.1:16379 ></label>
      <input class="cmd-input" type="text" id="cmd" autofocus="autofocus" spellcheck="false">
    </div>
  </div>
  <script src="script.js"></script>
</body>
</html>